.shadow-cljs/
node_modules/
.nrepl-port
# vscode拡張で生成されてるファイル関係
.clj-kondo/
.lsp/
output.calva-repl
# shadow-cljsが生成するファイル関係
resources/public/js
resources/main.js
target/
# electron-packagerの出力
descript-to-video*/